<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hi! I'm Pratibha</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Raleway:wght@300;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="landing-container">
        <div class="animated-bg"></div>
        <div class="overlay"></div>
        <div class="content">
            <h1 class="animated-title">Hi! I'm Pratibha</h1>
            <div class="profile-container">
                <img src="static/images/me.png" alt="My Picture" class="profile-image">
                <p class="blurb">I'm a rising junior at Johns Hopkins University,
                    double majoring in Biomedical Engineering and Computer Science.

                    I'm passionate about
                    entrepreneurship, specifically companies at intersection of healthcare and
                    fintech that are working towards creating a digital front door to healthcare.</p>
            </div>
            <nav class="nav-links">
                <a href="hobbies.html" class="nav-link">Hobbies</a>
                <a href="biomedical-research.html" class="nav-link">Biomedical Research</a>
                <a href="finance.html" class="nav-link">Finance</a>
                <a href="computer-science.html" class="nav-link">Computer Science</a>
            </nav>
            <div class="contact-info">
                <a href="mailto:pratibha.pradeepp@gmail.com" class="contact-link">Email Address</a>
                <a href="https://www.linkedin.com/in/pratibha-pradeep-145579262" target="_blank" class="contact-link">LinkedIn</a>
            </div>
        </div>
    </div>
    <script src="static/scripts.js"></script>
</body>

</html>
